html, body, #root {
  height: auto !important;
  min-height: 100vh !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.manage-pets-container {
  height: auto !important;
  min-height: 100vh;
  overflow-y: visible !important;
}